<div> 
    <br><br>
    <table>
        <thead>
            <tr>
                <th colspan="10">participatory history list</th>
            </tr> 
            <tr>
                <th>name</th>
                <th>location</th>
                <th>date</th>
                <th>composition</th>
            </tr>
        </thead>
        <tbody>
                {{#each users}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{location}}</td>
                        <td>{{createdAt}}</td> 
                        <td><a href="/rendered-participation">Composition</a></td> 
                    </tr>
                {{/each}}
        </tbody>
    </table> 
</div>

