<div class="popup-container">
  <h1>Sign Up</h1>
  <form action="/auth/signup" method="POST">
    <label>
      Username
      <input
        type="text"
        name="username"
        style="background-color: transparent; border:2px solid #232526; outline: none; padding: 5px; border-radius: 5px"
        required
      />
    </label>
    <label>
      Password
      <input
        type="password"
        name="password"
        style="background-color: transparent; border:2px solid #232526; outline: none; padding: 5px; border-radius: 5px"
        required
      />
    </label>
    <label>
      Email
      <input
        type="email"
        name="email"
        style="background-color: transparent; border:2px solid #232526; outline: none; padding: 5px; border-radius: 5px"
        requiresd
      />
    </label>
    <label>
      Your Location
      <input
        type="text"
        name="location"
        style="background-color: transparent; border:2px solid #232526; outline: none; padding: 5px; border-radius: 5px"
        required
      />
    </label>
    <button type="submit" href="playground">Submit</button>
  </form>
  <div class="divider"><span>---------</span>
    Already have an account?
    <span>---------</span></div>
  <a href="/auth/login">Log In</a>
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</div>