<h1>USERS</h1>

{{!-- since we passed allTheUsersFromDB as `users`,
we can iterate over it here with #each--}}

{{#each users}}
  <div>
    <p>{{username}}</p>
    <p>{{location}}</p>
    <p>{{timestamps}}</p> 
    <a href="/users/{{_id}}">User details</a>
  </div>
{{/each}}

