<h1>USERS</h1>

<div>
    {{allTheUsersFromDB.username}}
    {{allTheUsersFromDB.location}}
    {{!-- composition image_url --}}
    {{allTheUsersFromDB.createdAt}}
    <a href="/existing-composition/{{_id}}">Composition</a>
</div>

