{{!-- content from playground --}}
<h1>Existing Composition</h1>
{{!-- the enctype is needed for the form to be able to send files --}}

{{!-- <form action="/sequences" method="POST" enctype="multipart/form-data">
	<label for="">Title: </label>
	<input type="text" name="title">

	<label for="">Description: </label>
	<input type="text" name="description">

	<label for="">Poster: </label>
	<input type="file" name="poster">

	<button type="submit">Add this sequence</button>
</form>  --}}

