{{!-- rendered participation of sequence from playground page should be on the right hand side --}} 
<h1>Existing Composition</h1>
<br><br><br>
<div>   </div>

<div>
    <p><a href="/auth/participation-history">Go to Participation History</a></p> 
    <br>
    <p><a href="/auth/signup">Go Home</a></p> 
    <br>
</div>



